<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Web App - Capstone Project #3</title>

    <link rel="stylesheet" href="/style/style.css">
</head>
<body>

    <div class="header">
        <h1>Blog Web App</h1>
        <a href="/reset" class="btn reset"> Reset all changes</a>       
        <a href="/newPost" class="btn new-post">New Post</a>
    </div>
   
        <% if (posts.length > 0) { %>         
            <% posts.forEach(post => { %>   
                
                <div class="post-container">        
                    <h2>
                        <%= post.title %>
                    </h2>
                    <p>
                        <%= post.content %>
                    </p>
                    <small>
                        By: <b><%= post.author %></b> -- from -- <b><%= post.country %></b>
                    </small>
                    <small>
                        <%= post.date %>
                    </small>
                    
                    <div class="post-buttons-container">
                        <div class="comment-count-container">

                            <% if (post.comments.length > 0) { %>
                                <a href="/view/<%= post.id %>/comments" class="comment-count">
                                See all Comments (<%= post.comments.length %>)
                                </a>
                            <% } else { %>
                                <p> <em>No comments yet</em> </p>
                            <% } %>
                            
                        </div>
                        <div class="post-buttons">
                            <a href="/comment/<%= post.id %>" class="btn comment">Write a comment</a>
                            <a href="/edit/<%= post.id %>" class="btn edit">Edit</a>
                            <a href="/delete/<%= post.id %>" onclick="confirmDelete()" class="btn delete">Delete</a>
                        </div>
                    </div>                    
                </div>
            <% }) %>

        <% } else { %>
            <h2>No posts yet to display</h2>
            <% } %> 

<script>
    function confirmDelete () {
        const confirmed = confirm("Wait! This action will delete the post completely!")
        // if (confirmed) {
        //     return true;
        // }
        // return false;
    }
</script>

</body>
</html>